<div class="page-header">
  <%= link_to 'Ir a visita', patient_visit_path(@patient,@visit), :class => 'btn' %>
  <%= link_to 'Editar', edit_patient_visit_enfermedad_actual_path(@patient,@visit), :class => 'btn primary' %>
  <h1>Registro de enfermedad actual</h1>
</div>

<dl>
  <dt>Fuente inf:</dt>
  <dd><%= @enfermedad_actual.fuente_inf %></dd>

  <dt>Fecha inicio:</dt>
  <dd><%= @enfermedad_actual.fecha_inicio %></dd>

  <dt>Duracion:</dt>
  <dd><%= @enfermedad_actual.duracion %></dd>

  <dt>Descripcion semiol:</dt>
  <dd><%= @enfermedad_actual.descripcion_semiol %></dd>

  <dt>Dificultad caminar:</dt>
  <dd><%= @enfermedad_actual.dificultad_caminar %></dd>

  <dt>Compromiso motor ext sup:</dt>
  <dd><%= @enfermedad_actual.compromiso_motor_ext_sup %></dd>

  <dt>Compromiso motor ext inf:</dt>
  <dd><%= @enfermedad_actual.compromiso_motor_ext_inf %></dd>

  <dt>Compromiso motor facial:</dt>
  <dd><%= @enfermedad_actual.compromiso_motor_facial %></dd>

  <dt>Compromiso sens ext sup:</dt>
  <dd><%= @enfermedad_actual.compromiso_sens_ext_sup %></dd>

  <dt>Compromiso sens ext inf:</dt>
  <dd><%= @enfermedad_actual.compromiso_sens_ext_inf %></dd>

  <dt>Compromiso sens tronco:</dt>
  <dd><%= @enfermedad_actual.compromiso_sens_tronco %></dd>

  <dt>Compromiso sens lhermitte:</dt>
  <dd><%= @enfermedad_actual.compromiso_sens_lhermitte %></dd>

  <dt>Disfuncion intest vesical:</dt>
  <dd><%= @enfermedad_actual.disfuncion_intest_vesical %></dd>

  <dt>Disfuncion sexual:</dt>
  <dd><%= @enfermedad_actual.disfuncion_sexual %></dd>

  <dt>Trastorno oculomotor:</dt>
  <dd><%= @enfermedad_actual.trastorno_oculomotor %></dd>

  <dt>Trastorno vestib coclear:</dt>
  <dd><%= @enfermedad_actual.trastorno_vestib_coclear %></dd>

  <dt>Trastorno lenguaje deglucion:</dt>
  <dd><%= @enfermedad_actual.trastorno_lenguaje_deglucion %></dd>

  <dt>Neuritis optica:</dt>
  <dd><%= @enfermedad_actual.neuritis_optica %></dd>

  <dt>Disfuncion cognitiva:</dt>
  <dd><%= @enfermedad_actual.disfuncion_cognitiva %></dd>

  <dt>Sintomas psiquiatricos:</dt>
  <dd><%= @enfermedad_actual.sintomas_psiquiatricos %></dd>

  <dt>Fatiga:</dt>
  <dd><%= @enfermedad_actual.fatiga %></dd>

  <dt>Sind uhtoff:</dt>
  <dd><%= @enfermedad_actual.sind_uhtoff %></dd>

  <dt>Episodios previos:</dt>
  <dd><%= @enfermedad_actual.otros %></dd>

  <dt>Severidad:</dt>
  <dd><%= @enfermedad_actual.severidad %></dd>

  <dt>Recuperacion:</dt>
  <dd><%= @enfermedad_actual.recuperacion %></dd>

  <dt>Certeza:</dt>
  <dd><%= @enfermedad_actual.certeza %></dd>

  <dt>Evento asociado:</dt>
  <dd><%= @enfermedad_actual.evento_asociado %></dd>

  <dt>Dias hospitalizacion:</dt>
  <dd><%= @enfermedad_actual.dias_hospitalizacion %></dd>

  <dt>Esteroides:</dt>
  <dd><%= @enfermedad_actual.esteroides %></dd>

  <dt>Dosis esteroides:</dt>
  <dd><%= @enfermedad_actual.dosis_esteroides %></dd>

  <dt>Observaciones:</dt>
  <dd><%= @enfermedad_actual.observaciones %></dd>

</dl>
