<div class="page-header">
  <%= link_to 'Atras', ef_pares_path, :class => 'btn' %>
  <%= link_to 'Editar', edit_ef_pare_path(@ef_pare), :class => 'btn primary' %>
  <h1>Listing ef_pares</h1>
</div>

<dl>
  <dt>Visit:</dt>
  <dd><%= @ef_pare.visit %></dd>

  <dt>Olfato gusto:</dt>
  <dd><%= @ef_pare.olfato_gusto %></dd>

  <dt>Disminucion av:</dt>
  <dd><%= @ef_pare.disminucion_av %></dd>

  <dt>Dolor ocular:</dt>
  <dd><%= @ef_pare.dolor_ocular %></dd>

  <dt>Desaturacion rojo:</dt>
  <dd><%= @ef_pare.desaturacion_rojo %></dd>

  <dt>Dpar:</dt>
  <dd><%= @ef_pare.dpar %></dd>

  <dt>Escotoma:</dt>
  <dd><%= @ef_pare.escotoma %></dd>

  <dt>Disco palido:</dt>
  <dd><%= @ef_pare.disco_palido %></dd>

  <dt>Ii otro:</dt>
  <dd><%= @ef_pare.ii_otro %></dd>

  <dt>Diplopia:</dt>
  <dd><%= @ef_pare.diplopia %></dd>

  <dt>Oscilopsia:</dt>
  <dd><%= @ef_pare.oscilopsia %></dd>

  <dt>Paralisis mirada:</dt>
  <dd><%= @ef_pare.paralisis_mirada %></dd>

  <dt>Hipoestesias trig:</dt>
  <dd><%= @ef_pare.hipoestesias_trig %></dd>

  <dt>Parestesias trig:</dt>
  <dd><%= @ef_pare.parestesias_trig %></dd>

  <dt>Neuralgia trig:</dt>
  <dd><%= @ef_pare.neuralgia_trig %></dd>

  <dt>Dolor atipico cara:</dt>
  <dd><%= @ef_pare.dolor_atipico_cara %></dd>

  <dt>Reflejo corneano abolido:</dt>
  <dd><%= @ef_pare.reflejo_corneano_abolido %></dd>

  <dt>V compromiso motor:</dt>
  <dd><%= @ef_pare.v_compromiso_motor %></dd>

  <dt>Vii paralisis:</dt>
  <dd><%= @ef_pare.vii_paralisis %></dd>

  <dt>Vii hemiespasmo:</dt>
  <dd><%= @ef_pare.vii_hemiespasmo %></dd>

  <dt>Vertigo:</dt>
  <dd><%= @ef_pare.vertigo %></dd>

  <dt>Hipoacusia:</dt>
  <dd><%= @ef_pare.hipoacusia %></dd>

  <dt>Acufenos:</dt>
  <dd><%= @ef_pare.acufenos %></dd>

  <dt>Nistagmus:</dt>
  <dd><%= @ef_pare.nistagmus %></dd>

  <dt>Test sacudida cefalica:</dt>
  <dd><%= @ef_pare.test_sacudida_cefalica %></dd>

  <dt>Disfonia:</dt>
  <dd><%= @ef_pare.disfonia %></dd>

  <dt>Disfagia:</dt>
  <dd><%= @ef_pare.disfagia %></dd>

  <dt>Nauseoso:</dt>
  <dd><%= @ef_pare.nauseoso %></dd>

  <dt>Paralisis velo:</dt>
  <dd><%= @ef_pare.paralisis_velo %></dd>

  <dt>Desviacion lengua:</dt>
  <dd><%= @ef_pare.desviacion_lengua %></dd>

  <dt>Xi comprometido:</dt>
  <dd><%= @ef_pare.xi_comprometido %></dd>

</dl>
