<%= form_for(@lesion) do |f| %>
  <% if @lesion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lesion.errors.count, "error") %> prohibited this lesion from being saved:</h2>

      <ul>
      <% @lesion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :laterality %><br />
    <%= f.text_field :laterality %>
  </div>
  <div class="field">
    <%= f.label :shape %><br />
    <%= f.text_field :shape %>
  </div>
  <div class="field">
    <%= f.label :size %><br />
    <%= f.number_field :size %>
  </div>
  <div class="field">
    <%= f.label :enhancement %><br />
    <%= f.text_field :enhancement %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
