<div class="page-header">
  <%= link_to 'Nueva Visita', new_visit_path, :class => 'btn primary' %>
  <h1>Listado de visitas</h1>
</div>

<table>
  <tr>
    <th>Visit date</th>
    <th>Ref physician</th>
    <th>User</th>
    <th>Imaging center</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @visits.each do |visit| %>
  <tr>
    <td><%= visit.visit_date %></td>
    <td><%= visit.ref_physician %></td>
    <td><%= visit.user_id %></td>
    <td><%= visit.imaging_center %></td>
    <td><%= link_to 'Show', visit %></td>
    <td><%= link_to 'Edit', edit_visit_path(visit) %></td>
    <td><%= link_to 'Destroy', visit, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>