<div class="page-header">
  <%= link_to 'Ir a paciente', patient_path(@patient), :class => 'btn' %>
  <%= link_to 'Editar', edit_patient_visit_path(@patient), :class => 'btn primary' %>

  <h1>Registro de visita</h1>
</div>

<p id="notice"><%= notice %></p>

<section id="visit">
<p>
  <b>Visit date:</b>
  <%= @visit.visit_date %>
</p>

<p>
  <b>Ref physician:</b>
  <%= @visit.ref_physician %>
</p>

<p>
  <b>User:</b>
  <%= @visit.user_id %>
</p>

<p>
  <b>Imaging center:</b>
  <%= @visit.imaging_center %>
</p>
<!-- 
<p>
  <b>Enfermedad actual:</b>
  <%= link_to "Ver", [@patient, @visit, @visit.enfermedad_actual], :class => 'btn primary' if !@visit.enfermedad_actual.nil? %>
</p>

<p>
  <b>Examen físico general:</b>
  <%= link_to "Ver", [@patient, @visit, @visit.ef_general], :class => 'btn primary' if !@visit.ef_general.nil? %>
</p>

<p>
  <b>Examen físico de columna:</b>
  <%= link_to "Ver", [@patient, @visit, @visit.ef_columna], :class => 'btn primary' if !@visit.ef_columna.nil? %>
</p>

<p>
  <b>Examen físico mental:</b>
  <%= link_to "Ver", [@patient, @visit, @visit.ef_mental], :class => 'btn primary' if !@visit.ef_mental.nil? %>
</p>

<p>
  <b>Examen físico psiquiatrico:</b>
  <%= link_to "Ver", [@patient, @visit, @visit.ef_psiqu], :class => 'btn primary' if !@visit.ef_psiqu.nil? %>
</p>


</div>
-->
</section>
