<%= simple_form_for [@patient, @visit , @ef_psiqu] do |f| %>
  <% if @ef_psiqu.errors.any? %>
    <div class="alert-message error">
      <%= f.error_notification %>
    </div>
  <% end %>

  <div class="inputs">
    <%= f.input :distimia_depresion %>
    <%= f.input :hipertimia %>
    <%= f.input :idea_delirante %>
    <%= f.input :alucinaciones, :collection => ["Visuales", "Auditivas", "Cenestesicas", "Olfatorias"] %>
    <%= f.association :visit %>
  </div>

  <div class="actions">
    <%= f.button :submit, :class => "btn primary" %>
  </div>
<% end %>

