<%= simple_form_for(@patient, :class => 'form-inline') do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> impidio que se grabara este paciente:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
	
  <% end %>
  <div class="row">
	  <div class "span9">
    <%= f.input :first_name, :class =>"input-small" %>
    <%= f.input :last_name, :class =>"input-small" %>
	</div>
  </div>
    <%= f.input :identification %>
    <%= f.input :sex %>
    <%= f.input :birthdate %>
    <%= f.input :address_1 %>
    <%= f.input :address_2 %>
    <%= f.input :city %>
    <%= f.input :country %>
    <%= f.input :address_state %>
    <%= f.input :phone %>
    <%= f.input :mobile_phone %>
    <div class="actions">
      <%= f.button :submit, :class => 'btn primary' %>
      <%= link_to 'Cancelar', :back, :class => "btn" %>
    </div>
<% end %>
