<%= simple_form_for(@patient) do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> impidio que se grabara este paciente:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
	
  <% end %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :identification %>
    <%= f.input :sex %>
    <%= f.input :birthdate %>
    <%= f.input :address_1 %>
    <%= f.input :address_2 %>
    <%= f.input :city %>
    <%= f.input :country %>
    <%= f.input :address_state %>
    <%= f.input :phone %>
    <%= f.input :mobile_phone %>
    <div class="actions">
      <%= f.button :submit, :class => 'btn primary' %>
      <%= button_tag 'Cancelar', :type => :reset, :class => "btn" %>
    </div>
<% end %>
