<section id="tabla">
<div class="page-header"><h1>Patients</h1></div>
<div class="row">
<table class="bordered-table zebra-striped">
  <thead>
	  <tr>
	    <th>First name</th>
	    <th>Last name</th>
	    <th>Identification</th>
	    <th>Sex</th>
	    <th>Birthdate</th>
	    <th>Address 1</th>
	    <th>Address 2</th>
	    <th>City</th>
	    <th>Country</th>
	    <th>Address state</th>
	    <th>Phone</th>
	    <th>Mobile phone</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>
  </thead>

<% @patients.each do |patient| %>
  <tr>
    <td><%= patient.first_name %></td>
    <td><%= patient.last_name %></td>
    <td><%= patient.identification %></td>
    <td><%= patient.sex %></td>
    <td><%= patient.birthdate %></td>
    <td><%= patient.address_1 %></td>
    <td><%= patient.address_2 %></td>
    <td><%= patient.city %></td>
    <td><%= patient.country %></td>
    <td><%= patient.address_state %></td>
    <td><%= patient.phone %></td>
    <td><%= patient.mobile_phone %></td>
    <td><%= link_to 'Show', patient %></td>
    <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
    <td><%= link_to 'Destroy', patient, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
</div>
</div>
</section>

<br />

<%= link_to 'New Patient', new_patient_path %>
