<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @patient.first_name %>
</p>

<p>
  <b>Apellido:</b>
  <%= @patient.last_name %>
</p>

<p>
  <b>Identificacion:</b>
  <%= @patient.identification %>
</p>

<p>
  <b>Sexo:</b>
  <%= @patient.sex %>
</p>

<p>
  <b>Fecha Nacimiento:</b>
  <%= @patient.birthdate %>
</p>

<p>
  <b>Direccion 1:</b>
  <%= @patient.address_1 %>
</p>

<p>
  <b>Direccion 2:</b>
  <%= @patient.address_2 %>
</p>

<p>
  <b>Ciudad:</b>
  <%= @patient.city %>
</p>

<p>
  <b>Pais:</b>
  <%= @patient.country %>
</p>

<p>
  <b>Estado:</b>
  <%= @patient.address_state %>
</p>

<p>
  <b>Telefono:</b>
  <%= @patient.phone %>
</p>

<p>
  <b>Celular:</b>
  <%= @patient.mobile_phone %>
</p>


<%= link_to 'Editar', edit_patient_path(@patient) %> |
<%= link_to 'Atras', patients_path %>
