<h5>Menu</h5>
<ul>
	<li><%= link_to "Informacio패n sociodemogra패fica", "/path1"  %></li>
	<li><%= link_to "Antecedentes", "/path1"  %></li>
	<li><%= link_to "Enfermedad actual", "/path1"  %></li>
	<li><%= link_to "Examen fi패sico", "/path1"  %></li>
	<li><%= link_to "Diagno패stico", "/path1"  %></li>
	<li><%= link_to "Discapacidad", "/path1"  %></li>
</ul>
