<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>IATM MSTrack</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="topbar">
    <div class="topbar-inner">
      <div class="container-fluid">
        <a class="brand" href="#">IATM MSTrack v0.2</a>
        <ul class="nav">
          <li class="active"><a href="#">Inicio</a></li>
          <li><a href="#about">Acerca de</a></li>
          <li><a href="#contact">Contactenos</a></li>
        </ul>
        <p class="pull-right">Ingresado como <a href="#">username</a></p>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="sidebar">
      <div class="well">
		<h5>Menu</h5>
		<ul>
			<li><%= link_to "Listado de pacientes", patients_path  %></li>
		</ul>
		
		<h5>Observaciones</h5>
		<ul>
			<li><%= link_to "Información sociodemográfica", "/path1"  %></li>
			<li><%= link_to "Antecedentes", antecedentes_path  %></li>
			<li><%= link_to "Enfermedad actual", "/path1"  %></li>
			<li><%= link_to "Examen físico", "/path1"  %></li>
			<li><%= link_to "Diagnóstico", "/path1"  %></li>
			<li><%= link_to "Discapacidad", "/path1"  %></li>
		</ul>
      </div>
    </div>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, :class => "container alert-message #{name == :error ? "error" : "success" }", :"data-alert" => "alert" do %>
        <a class="close" href="#">×</a>
        <p><%= msg %></p>
      <% end %>
    <% end %>
    <div class="content">
      <div class="row">
        <div class="span16">
			<%= yield %>
        </div>
      </div>
      <footer>
        <p>&copy; IATM 2012, Derechos Reservados</p>
      </footer>
    </div>
  </div>
</body>
</html>
